<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{COLOR}}</title>
    <style>
        body {
            background-color:   {{COLOR}};
            display:            flex;
            justify-content:    center;
            align-items:        center;
            height:             100vh;
            text-align:         center;
            font-family:        Arial,
            sans-serif;
            font-size:          48px;
            color:              white;
            text-shadow:        4px 4px 4px rgba(0, 0, 0, 0.5);
        }
    </style>
</head>

<body>
    Color is "{{COLOR}}"<br />
    {{COMMENT}}
</body>

</html>
